<div>
    <div>
        <h2>User Activation</h2>
    </div>
    <% if (status == 'BEGIN') { %>
        <div>
            <img src="<%= settings.STATIC_URL %>images/loading.gif" alt="Loading..."></img>
        </div>
        <div>
            Please wait while we activate your account...
        </div>
    <%
       }
       else if (status == 'SUCCESS') {
    %>
        <div>
            <img src="<%= settings.STATIC_URL %>images/success.png" alt="Success!"></img>
        </div>
        <div>
            Activation of <%= user.username %> was successful! Please login to continue!
        </div>
    <%
       }
       else { // Treat state as an "ERROR" state
    %>
        <div>
            <img src="<%= settings.STATIC_URL %>images/caution.png" alt="Success!"></img>
        </div>
        <div>
            Sorry we could not activate you account at this time! Please check that this
            address matches the one sent in your Activation Email.
        </div>
    <% } %>
</div>
