<div>
    <div id="<%= id %>-zoomable-container" class="zoomable-container">
        <div class="zoomable-slider-container">
            <div class="zoomable-plus zoomable-controls">
                <button id="<%= id %>-zoomable-plus">+</button>
            </div>
            <div id="<%= id %>-zoomable-slider" class="zoomable-slider"></div>
            <div class="zoomable-minus zoomable-controls">
                <button id="<%= id %>-zoomable-minus">-</button>
            </div>
        </div>
    </div>
</div>
