<html>
	<head>
		<title>BioDIG {{ title }}</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" type="text/css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui/1.10.4/jquery-ui-1.10.4.min.css" type="text/css"/>
	    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/colorpicker/layout.css" type="text/css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/colorpicker/colorpicker.css" type="text/css"/>
    </head>
	<body>
		<div id="body_holder">
			<div id="body_div">
				<div>	
					<renderslot name="navBar" />
				</div>
				<div>
					<renderslot name="center-1" />
				</div>
				<div>
					<renderslot name="footer" />
				</div>
			</div>
		</div>
	</body>
</html>
