<head>
    <style>
        .footer {
            border-top: 1px solid #CCCCCC;
            color: #393838;
            font-size: 13px;
            margin-top: 15px;
            padding: 5px 20px 5px 5px;
            text-align: right;
        }
        
        .footer a {
            text-decoration: none;
            color: #797878;
        }
        
        .footer a:hover {
            cursor: pointer;
        }
        
        .footer span {
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div class="footer">
        <span>BioDIG by: <a href="http://lnkd.in/PrVcRi" target="_blank">Andrew Oberlin</a> using <a href="http://biodig.org" target="_blank">BioDIG</a></span>
        <span><a href="http://iddo-friedberg.net/lab.html" target="_blank">Friedberg Lab, Miami University</a></span>
    </div>
</body>