{% load template_tags %}
<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" type="text/css" />
	<!--[if IE]> 
	<style>
		.right_container {
			display: inline;
		}

		.left_container {
			display: inline;	
			float: left
		}
	</style>
	<![endif]-->
	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/zoomable.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/taggable.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/menu.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap/bootstrap.min.css"></link>
    <script type="text/javascript" src="{{ STATIC_URL }}js/MainImageViewer/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/downloadify/swfobject.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/downloadify/downloadify.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/JSZip/jszip.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/JSZip/jszip-deflate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kineticjs/kinetic-v3.10.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/zoomable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/tagViewingUI/TaggableUtil.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/tagViewingUI/GeneLink.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/tagViewingUI/Tag.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/tagViewingUI/TagGroup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/MainImageViewer/TagBoard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/MainImageViewer/DrawingAPI.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/MenuUI/MenuItem.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/MenuUI/MenuSection.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/MenuUI/Menu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/DialogUI/PageBlock.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/DataFile/CachedXmlDataFile.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/DataFile/CachedJsonDataFile.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/tagViewingUI/DownloadImageDataDialog.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/tagViewingUI/ChangeCurrentTagGroupsDialog.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/MainImageViewer/TaggerUI.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/MainImageViewer/main.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/DialogUI/HelpDialog.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/webServiceClient/WebServiceClient.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dialog.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/dialog.css" type="text/css" />
</head>
<div class="row page_container">
    <div class="col-sm-9">
	    <img id="main_image" src="/web/media/pictures/66719_10151553217243652_1179241411_n.jpg" alt="Phylogenetic Tree" title="Phylogenetic Tree" />
    </div>
    <div class="col-sm-3">
	    <div id="search_selected">
		    <div style="display: inline-block; margin-right: 15px;">
			    <label>Image</label><input id="searchImages" name="searchImages" type="checkbox" checked="checked" value="true" />
			    <label>Genome</label><input id="searchGenomes" name="searchGenomes" type="checkbox" checked="checked" value="true" />
		    </div>
		    <div style="display: inline-block;">
			    <button class="search_button" style="background-image: none; color: white;">Go</button>
		    </div>
	    </div>           
	    <div id="mycoplasma_selector_menu">
		    <ol id="selectable">
		    {% for organism in all_mycoplasma %}
		    	<li class="ui-widget-content" id="{{organism.pk}}">
		    		<span>{{organism.common_name}}</span>
		    		{% if organism.pk|inList:all_genomes %}
		    		<img class="organismInfoImg" style="height:18px" src="{{ STATIC_URL }}images/dnaIcon.png" />
			    	{% endif %}
			    	{% if organism.pk|inList:all_images %}
		    		<img class="organismInfoImg" src="{{ STATIC_URL }}images/imageIcon.png" />
	    			{% endif %}
    				{% if organism.pk|inList:all_tags %}
				    <img class="organismInfoImg" style="height: 25px; margin-left: -5px; vertical-align: bottom;" src="{{ STATIC_URL }}images/tag.png" />
				    {% endif %}
			    </li>
		    {% endfor %}
		    </ol>
	    </div>
    </div>
</div>
<div id="helpBox">
	<div>
		<p>
			MyDIG – the <b>My</b>coplasma <b>D</b>atabase of <b>I</b>mages and <b>G</b>enomes contains genomes of all publicly available Mycoplasma. 
			It also contains a growing collection of images. Some of those images are gene-tagged, i.e. regions of those images are linked to specific genes. 
			In this way,  you can view the genotype-phenotype connections between cellular and subcellular structures in Mycoplasma, and the genes associated with them. 
			This database is still being populated. The MyDIG database is constructed using the BioDIG set of tools for annotating linking biological image and genomic information.
		</p>
	</div>
	<div>
		Feedback is welcome. Please email Andrew Oberlin <a href="mailto:oberliat@miamioh.edu?Subject=BioDIG">oberliat@miamioh.edu</a> with any comments you may have. 
	</div>
	<br />
	<div> 
		<div>To get started:</div>
		<br />
		<div style="padding-left: 10px;">1. Select one or more species from the right-hand menu, using ctrl-rightclick</div>
		<div style="padding-left: 10px;">2. In the checkboxes on top, check whether you want to view images, genomes or both.</div>
		<div style="padding-left: 10px;">3. Click “go” when ready </div>
		<div style="padding-left: 10px;">4. You will be taken to the image & genomes viewer</div>
		<br />
		<div>The letters next to the species' names indicate the following:</div>
		<br />
		<div style="padding-left: 10px;"><img class="organismInfoImg" style="height:18px" src="{{ STATIC_URL }}images/dnaIcon.png" />: Species  / strain has a full or partial genomes</div>
		<div style="padding-left: 10px;"><img class="organismInfoImg" src="{{ STATIC_URL }}images/imageIcon.png" />: Species / strain has images</div>
		<div style="padding-left: 10px;"><img class="organismInfoImg" style="height: 25px; margin-left: -5px; vertical-align: bottom;" src="{{ STATIC_URL }}images/tag.png" />: Species / strain's images are tagged (visually linked to genes).</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="imageClickModal" tabindex="-1" role="dialog" aria-labelledby="imageClickModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="imageClickModalLabel">Move to Beetle's Part</h4>
      </div>
      <div class="modal-body">
        <div class="modal-image-preview">
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="modal-success-btn btn btn-primary">Next Image</button>
      </div>
    </div>
  </div>
</div>
<style>
	#selectable .ui-selecting { background: paleblue; cursor: pointer;}
	#selectable .ui-selected { background: #AAAAAA; color: white; }
	#selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
	#selectable li { margin: 3px; padding: 0.4em; font-size: 15; border-bottom: 1px solid #CCCCCC;}
    #selectable li:hover { cursor: pointer; }
</style>
<script type="text/javascript">
    function ImageClient() {
        this.client = new WebServiceClient('{{ SITE_URL }}api/images');
    };

    ImageClient.prototype.call = function(imageKey, callback) {
        var args = {
            id: imageKey
        };
        
        this.client.call(args, callback);
    };

    function TaggingDataClient() {
        this.tagGroupClient = new WebServiceClient('{{ SITE_URL }}api/aggregate/tagGroups/search');
    };

    TaggingDataClient.prototype.call = function(imageKey, callback) {
        var args = {
            imageId: imageKey
        };
        
        this.tagGroupClient.call(args, callback);
    };
</script>
<script>
    $(function() {
	    $( "#selectable" ).selectable();
    });

    $('#search_selected button').bind('click', function() {	           
        var selected_id = $('.ui-selected').map(function() {            
            return this.id;
        }).get().join(',');
        
        if (selected_id != "") {
	      	var form = document.createElement("form");
	        form.setAttribute("method", "get");
	        form.setAttribute("action", "{{ SITE_URL }}search/");
	        hiddenField = document.createElement("input");
	        hiddenField.setAttribute("type", "hidden");
	        hiddenField.setAttribute("name", "organismId");
	        hiddenField.setAttribute("value", selected_id);
	        form.appendChild(hiddenField);
	        form.appendChild($('#searchGenomes').clone()[0]);  
	        form.appendChild($('#searchImages').clone()[0]);  
	        document.body.appendChild(form);
	        form.submit();
        }
    });
    
    $('#mycoplasma_selector_menu ol li').dblclick(function() {
    	var form = document.createElement("form");
        form.setAttribute("method", "get");
        form.setAttribute("action", "{{ SITE_URL }}search/");
        hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "organismId");
        hiddenField.setAttribute("value", $(this).attr('id'));
        form.appendChild(hiddenField);
        form.appendChild($('#searchGenomes').clone()[0]);  
        form.appendChild($('#searchImages').clone()[0]); 
        document.body.appendChild(form);
        form.submit();
    });
    
    var taggingDataClient = new TaggingDataClient();
    var getImageClient = new ImageClient();
    var key = 3;
    
    getImageClient.call(key, function(data, textStatus, jqXHR) {
        taggingDataClient.call(key, function(tagGroups) {
            $('#main_image').tagViewer({
                originalData: tagGroups,
                imageMetadata: data,
                //parent: $('#left_container'),
                imagesUrl: '{{ STATIC_URL }}images/',
                siteUrl: '{{ SITE_URL }}',
                alreadyLoaded: true,
                originalWidth: $('#main_image').parent().width()
            });
        });
    });
    
    var contents = $('#helpBox');
    var helpDialog = new HelpDialog(new PageBlock(), 'Homepage', contents.show());
    
    $('#helpButton').click(function() {
    	helpDialog.show();
    });
</script>
