{% load template_tags %}
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/images.css" type="text/css" />
</head>
<div id="images-container" style="height: 100%;"></div>
<input id="totalImages" type="hidden" value="{{ totalImages }}"></input>
<script type="text/javascript">
    var require = {
        baseUrl: '{{ STATIC_URL }}js/'
    };
</script>
<script type="text/javascript" data-main="{{ STATIC_URL }}js/biodig/pages/images.js"
    src="{{ STATIC_URL }}js/lib/require.js"></script>
