{% load template_tags %}
<head>
	<script type="text/javascript" src="{{ STATIC_URL }}js/collapser/collapser.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/imageUpdater/imageUpdater.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/images.css" type="text/css" />
</head>
<body>
	<div>
		<div id="collapse-holder-images" class="collapse_holder">
		    <img class="collapse" id="collapse-images" src="{{ STATIC_URL }}images/arrow_down.png"></img>
		    <span>Image Results for {{ candidateInfo|getCommonNames }}</span>
		</div>
		<div id="collapsible-images">
			<div id="image-tabs" class="search-tabs">
				<ul>            
            	{% for candidate in candidateInfo %}
            		<li id="{{candidate.1}}-image-tab"{% if forloop.counter0|isZero %} class="activeTab"{% endif %}>
            			{{ candidate.0|abbreviateCommonName }}
            		</li>
            	{% endfor %} 
            	</ul>
			</div>
			<div id="image-search-content" class="search-content">
				{% for candidate in candidateInfo %}
            		<div id="{{candidate.1}}-image-content" class="contentHolder{% if forloop.counter0|isZero %} activeContent{% endif %}">
						<div class="picturesContainer">
							<input type="hidden" class="numImages" value="{{ candidate.3 }}" />
							<input type="hidden" class="numPages" value="{{ candidate.2 }}" />
							<input type="hidden" class="organism" value="{{ candidate.1 }}" />
						    <table>
						        <tbody></tbody>
						    </table>
						    <br clear="all" />
						</div>
            		</div>
            	{% endfor %} 
			</div>
	    </div>
	</div>
</body>
<script type="text/javascript">
	(function($) {
		$(document).ready(function() {
			$('#collapse-holder-images').collapser({
				selector: '#collapsible-images'
			});
			
			$('#image-tabs li').on('click', function() {
				$('#image-tabs .activeTab').removeClass('activeTab');
				$('#image-search-content .activeContent').removeClass('activeContent').hide();
				
				$(this).addClass('activeTab');
				var contentId = $(this).attr('id').split('-')[0];
				contentId = '#' + contentId + '-image-content';
				$(contentId).addClass('activeContent').show();
			});
		
			$(window).load(function() {
				$('#image-search-content .contentHolder').each(function() {
					var numImages = $(this).find('.numImages').val();
					var numPages = $(this).find('.numPages').val();
					var organism = $(this).find('.organism').val();
					$(this).children('.picturesContainer').imageUpdater({
						'staticUrl' : '{{ STATIC_URL }}',
						'siteUrl' : '{{ SITE_URL }}',
						'numPages' : numPages,
						'numImages' : numImages,
						'picsPerPage' : {{ picsPerPage }},
						'organism' : organism
					});
				});
				
				$('#image-search-content .contentHolder').hide();
		        $('#image-search-content .activeContent').show();
			});
		});
	})(jQuery);
</script>