
#tt {position:absolute; z-index: 7; display:block; background:url(/media/tooltip/images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(/media/tooltip/images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(/media/tooltip/images/tt_bottom.gif) top right no-repeat; overflow:hidden}
