{% load template_tags %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/zoomable.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/taggable.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/menu.css"></link>
    <script type="text/javascript" src="{{ STATIC_URL }}js/downloadify/swfobject.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/downloadify/downloadify.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/JSZip/jszip.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/JSZip/jszip-deflate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kineticjs/kinetic-v3.10.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/zoomable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/tagViewingUI/TaggableUtil.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/tagViewingUI/GeneLink.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/tagViewingUI/Tag.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/tagViewingUI/TagGroup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggableUtil/DrawingBoard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/tagViewingUI/TagBoard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggableUtil/DrawingAPI.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/MenuUI/MenuItem.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/MenuUI/MenuSection.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/MenuUI/Menu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/DialogUI/PageBlock.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/DataFile/CachedXmlDataFile.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/DataFile/CachedJsonDataFile.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/tagViewingUI/DownloadImageDataDialog.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/tagViewingUI/ChangeCurrentTagGroupsDialog.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggableUtil/NewGeneLinkDialog.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggableUtil/NewTagGroupDialog.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggableUtil/SaveTagDialog.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggableUtil/TaggingMenu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggableUtil/TaggerUI.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggable.js"></script>
    <!-- <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggable.min.js"></script> !-->
</head>
<body>
    <div id="image_container">
        <div class="zoomable-left">
            <img id="{{ image.pk }}" src="{{ MEDIA_URL }}{{image.imageName}}" alt="{{ image.altText }}"></img>
        </div>
        <div class="zoomable-right">
            <div class="info-container">
            </div>
        </div>
        <input id="tagGroups" value="{{ tagGroups }}" type="hidden" />
        <input id="imageMetadata" value="{{ imageMetadata }}" type="hidden" />
    </div>
</body>
<script type="text/javascript">
    $('#{{ image.pk }}').taggable({
        originalData : $.parseJSON(unescape($.trim($('#tagGroups').val()))),
        parent: $('#image_container'),
        imagesUrl: '{{ STATIC_URL }}images/',
        siteUrl: '{{ SITE_URL }}',
        genomicInfo: $('#image_container').find('.info-container'),
        imageMetadata: $.parseJSON(unescape($.trim($('#imageMetadata').val())))
    });
</script>