<head>
    <title>Image Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/anything_slider/anythingslider.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/anything_slider/anythingslider-ie.css"></link> 
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/imageManager.css"></link>
	<style>
		div.anythingSlider .start-stop {
			background-image: url({{ STATIC_URL }}images/anything_slider/cellshade.png);
		}
		
		div.anythingSlider .thumbNav a {
			background-image: url({{ STATIC_URL }}images/anything_slider/cellshade.png);
		}
		
		div.anythingSlider .arrow a {
			background-image: url({{ STATIC_URL }}images/anything_slider/arrows-default.png);
			background-repeat: no-repeat;
		}
	</style>
</head>
<body>
	<div id="header">Image Uploader</div>
    <div id="holder">
        {% load multiuploader %}
        {% multiupform %}
        <div id="slider_holder" style="width: 100%; max-height: 275px;"></div>
    </div>
</body>

<script type="text/javascript" src="{{ STATIC_URL }}js/anything_slider/jquery.anythingslider.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/anything_slider/jquery.easing.1.2.js"></script>   
<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script src="{{ MEDIA_URL }}multiuploader/scripts/jquery.iframe-transport.js"></script>
<script src="{{ MEDIA_URL }}multiuploader/scripts/jquery.fileupload.js"></script>
<script src="{{ MEDIA_URL }}multiuploader/scripts/jquery.fileupload-ui.js"></script>
<script src="{{ MEDIA_URL }}multiuploader/scripts/application.js"></script>
<script>
        function getCurrentFormHtml(element) {
            var element_image_index = element.css("background-image").lastIndexOf("/");
            var element_image = element.css("background-image").substring(element_image_index + 1, element.css("background-image").length - 2);
            var html = '<form id="add_to_database" name="add_to_database">';
            html += '<div>Image Name: ' + element_image + '</div>';
            html += '<div><label for="description">Description</label></div><div><textarea name="description" id="description" rows="6" cols="35"></textarea></div>';
            html += '<div><label for="">Publication (leave blank if unknown)</div><div></label><input type="text" id="publication" name="publication"></input></div>';
            html += '<div><label for="">Alternate Text</label></div><div><input type="text" id="alt_text" name="alt_text"></input></div>';
            html += '<div><label>Organism</label> <br /' + '> <select id="organism" name="organism">';          
            {% for organism in all_mycoplasma %}
            html += '<option value="{{organism.organism_id}}"><label for="organism">{{organism.genus}} {{organism.species}}</label></option>'
            {% endfor %}
            html += '</div></select></form>';
            return html;
        }

        function refreshSliderNoData() {
            $.ajax({
                url: "{{ SITE_URL }}administration/imageManager/getSlider/",
                type: "GET",
                context: document.body,
                success: function(data){
                    refreshSlider(data);
                }
            });
        }
        function refreshSlider(data) {
            $('#slider_holder').html(data);
             
            $(function(){
                $('#slider').anythingSlider({
                    theme           : 'default',
                    easing          : 'swing',
                    enable_arrows   : true,
                    showMultiple    : 4,
                    resizeContents  : true,
                    expand          : true,
                    infiniteSlides  : true,
                });
            });
            $('.top-right-float').bind('click', function() {
                dialog_are_you_sure.dialog('open');
                lastImagePkHover = $(this).parent().attr('class');
                return false;
            });                                           
            $('.top-right-float').hide();
            
            $('.panel').hover(
                function() {
                    $(this).children('div').children('.top-right-float').show();
                    $(this).css("cursor", "pointer");
                },
                function() {
                    $(this).children('div').children('.top-right-float').hide();
                    $(this).css("cursor", "auto");
                }
            );
            
            $('.panel').bind('click', function() {
                lastImagePkClick = $(this).children('div').attr('class');
                dialog_database_form.html(getCurrentFormHtml($(this).children('.'+lastImagePkClick)) + '<div id="error_on_database_form" style="color: red;"></div>');
                dialog_database_form.dialog('open');
            });
            fixSliderDisplay();
        }    

        var lastImagePkHover = "";
        var lastImagePkClick = "";
        var dialog_are_you_sure = $('<div></div>')
            .html('Are you sure you want to delete?')
            .dialog({
	            autoOpen  : false,
	            title     : 'Delete Image',
                buttons   : [{
                                text: "Yes",
                                click: function() {
                                    $.ajax({
                                        url: "{{ SITE_URL }}administration/image_manager/delete_pending_image/",
                                        type: "POST",
                                        data: {image_pk: lastImagePkHover},
                                        context: document.body,
                                        success: function(data){
                                            refreshSlider(data);
                                        }
                                    });
                                    $(this).dialog("close"); 
                                }
                            },
                            {
                                text: "No",
                                click: function() { 
                                    $(this).dialog("close"); 
                                }
                            }],
                draggable : false,
                resizable : false,
            });

        var dialog_database_form = $('<div></div>')
            .html("")
            .dialog({
	            autoOpen  : false,
	            title     : 'Add Image to Database',
                buttons   : [{
                                text: "Add",
                                click: function() {
                                    if ($('#description').val() != "" && $('#alt_text').val() != "") {
                                        $.ajax({
                                            url: "{{ SITE_URL }}administration/image_manager/move_pending_image/",
                                            type: "POST",
                                            data: {
                                                image_pk: lastImagePkClick,
                                                description: $('#description').val(),
                                                publication: $('#publication').val(),
                                                alt_text: $('#alt_text').val(),
                                                organism: $('#organism').val()
                                            },
                                            context: document.body,
                                            success: function(data){
                                                refreshSlider(data);
                                            },
                                            error: function(jqXHR, textStatus, errorThrown) {
                                                alert(errorThrown);
                                            }
                                        });
                                        $(this).dialog("close"); 
                                    }
                                    else {
                                        var html_error = "Please enter the following: ";
                                        if ($('#description').val() == "") {
                                            html_error += "<div>Description</div>";
                                        }
                                        if ($('#alt_text').val() == "") {
                                            html_error +=  "<div>Alt Text</div>";
                                        }
                                        $('#error_on_database_form').html(html_error);
                                    }
                                }
                            },
                            {
                                text: "Cancel",
                                click: function() { 
                                    $(this).dialog("close"); 
                                }
                            }],
                draggable : false,
                resizable : false,
                width     : 500,
            });

        refreshSliderNoData();
</script>
