body {
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}

#top {
    background-color: darkred;
} 
    
#navbar {
    display: block;
    height: 30px;
    border-top: 2px solid black;
    margin: 0 auto;
    width: 100%;
    background-color: #292828;
}      
    
#menu {    
    list-style-type: none;
    padding: 0;
    margin: 0;
    /*position: absolute;
    z-index: 1000;*/
}

ul.dropDownMenu {
    list-style-type: none;
    position: absolute;
    top: 30;
    left: -40;
}
    
li.menuItem {      
    height: 30px;
    line-height: 30px;       
    float: left;
    position: relative;
    display: block;
    border-right: 1px solid #555555;
    color: #BBBBBB;
}

li.menuItem:hover {
    cursor: pointer;
    color: white;
}

li.menuItem a:hover {
    background-repeat: no-repeat;
    cursor: pointer;
    color: white;
}

li.menuItem a { 
    color: #BBBBBB;
    padding: 5px;
    text-decoration: none;
}

li.menuItem:hover .dropDownMenu li {
    display: block;
    width: 100px;
}

li.dropDownItem {
    margin-bottom: 10px;
    display: none;
}

li.dropDownItem a {
    background-color: darkgoldenrod;
    border: 1px solid black;
}

    
li.dropDownItem a:hover {
    background-color: goldenrod;
    cursor: pointer;
}
    
#banner {
    height: 60px;
    overflow: hidden;
}

#banner ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#banner ul li {
    float: left;
}

.admin_button_item {
    padding-left: 10px;
    padding-top: 8px;
}

.admin_button_item div {
    height: 19px;
    padding: 13px 6px;
    border-radius: 3px;
    font-family: Times New Roman;
    font-size: 16px;
    font-variant: small-caps;
}

.admin_button_item div:hover {
    background: -moz-linear-gradient(center top, rgba(0,0,0,0.05), rgba(0,0,0,0.1)) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0.1)));
    filter: DXImageTransform.Microsoft.gradient(startColorstr='rgba(0,0,0,0.05)', endColorstr='rgba(0,0,0,0.1)'); /*For IE */ 
    cursor: pointer;
}

.admin_button_item div a {
    color: #292828;
    text-decoration: none;
}

.banner_item {
    margin-right: 30px;
    padding: 5px 0 0;
}

div#picture_buttons {
    margin: 0 auto 10px;
    position: relative;
    text-align: center;
    height: 90px;
    border-bottom: 1px solid #CCCCCC;
}

form#search {
    margin-bottom: 5px;
}       

.search_button {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid #3079ED;
    border-radius: 5px;
    background-image: url({{ STATIC_URL }}images/search.png);
    background-repeat: no-repeat;
    background-position: 50%;
    height: 29px;
        width: 42px;
        vertical-align: top;
}    

.search_button:hover {
    cursor: pointer;
    border: 1px solid #2F5BB7;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    background-image: url({{STATIC_URL}}images/search.png), -moz-linear-gradient(top, #6495ED, #2F5BB7); /* for firefox 3.6+ */
    background-image: url({{STATIC_URL}}images/search.png),  -webkit-gradient(linear, left top, left bottom, from(#6495ED), to(#2F5BB7));
    filter: DXImageTransform.Microsoft.gradient(startColorstr='#6495ED', endColorstr='#2F5BB7'); /*For IE */
}

#search_val {
   border: 1px solid grey;
   padding: 3px;
   font-size: 12px;
}

.login_search {
    float: right;
    margin-right: 10px;
    margin-top: 25px;
} 

#login {
    float: left;
}

td.login_title {
    width: 100px;
    color: white;
    font-size: 13;
}

input.login_text {
    border: 1px solid gray;
    font-size: 12px;
    padding: 3px;
}

input.submit_button {
    background-color: dimgray;
    border: 1px solid gray;
    color: white;
}

input.submit_button:hover {
    cursor: pointer;
}

ul#user_options {
    list-style-type: none;
    padding-left: 5px;
    margin-top: 2px;
}

div.logged_in_msg {
    color: white;
    font-size: 15;
}

li.logout {
    color: white;
    font-size: 15;
    display: inline;
}

li.logout a {
    text-decoration: none;
    color: midnightblue;
}
    
li.logout a:hover {
    color: grey;
    cursor: pointer;
}

li.logged_in_title_left {
    color: white;
    font-size: 15;
    display: inline;
    border-right: 1px solid white;
    padding-right: 5px;
}

li.logged_in_title_left a {
    text-decoration: none;
    color: midnightblue;
}

li.logged_in_title_left a:hover {
    color: grey;
}
