#form_holder {
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid black;
    padding: 3px;
    width: 500px;
    margin: 0 auto;
    background-color: #DDDDDD;
    margin-top: 45px;
    box-shadow: 0px 5px 6px 1px #555555;
}

#blast_title {
    background-color: #222222;
    color: white;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#submit_div {
    margin: 0 auto;
    left: 0;
    right: 0;
}

#form_div_right {
    right: 0;
    float: right;
}