<li class="list-group-item">
    <div>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="<%= image.thumbnail %>"></img>
            </a>
            <div class="media-body">
                <div class="pull-left" style="width: 30%;">
                    <div><strong>User:</strong>&nbsp;&nbsp;<%= user.username %></div>
                    <br />
                    <div><strong>Date:</strong>&nbsp;&nbsp;<%= dateCreated %></div>
                </div>
                <div class="pull-left" style="width:30%; margin-top:25px;">
                    <button name="preview" class="btn btn-info center-block">Preview</button>
                </div>
                <div class="pull-left" style="width:30%;">
                    <div class="btn-group" style="top:25px; left:50%">
                        <button name="publish" type="button" class="btn btn-primary">Publish</button>
                        <button name="deny" type="button" class="btn btn-default">Deny</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
