<li class="list-group-item">
    <div>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="<%= image.thumbnail %>"></img>
            </a>
            <div class="media-body">
                <div class="pull-left">
                    <div><h3>User:</h3><%= user.username %></div>
                    <div><h3>Date:</h3><%= dateCreated %></div>
                </div>
                <div class="pull-left">
                    <button name="preview" class="btn btn-info">Preview</button>
                </div>
                <div class="pull-left">
                    <div class="btn-group">
                        <button name="publish" type="button" class="btn btn-primary">Publish</button>
                        <button name="deny" type="button" class="btn btn-default">Deny</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
