#header {
  	background-color: transparent;
    color: white;
    font-family: Times New Roman;
    font-variant: small-caps;
    font-size: 30px;
    font-family: lighter;
    padding: 4px;
    text-align: center;
}

#footer {
    background-color: dimgray;
    border: 1px solid black;
    border-radius: 0 0 11px 11px;
    height: 28px;
    padding: 4px;
}

#holder {
    border: 1px solid black;
    width: 918px;
    padding: 15px;
    background-color: #DDDDDD;
    box-shadow: 0px 11px 7px 0px #000000;
    margin: 0 auto;
}

#container_holder {
    padding-bottom: 30px;
}

#container {
    margin: 0 auto;
    white-space: nowrap;
}

