.top-right-float {
    position: relative;
    float: right;        
    z-index: 2;
}

.top-right-float span:hover {
    cursor: pointer;
}

#fileupload .fileupload-buttonbar {
    border-radius: 0px;
}

.slider_image {
    z-index: 1;
    position: absolute;
}

.panel {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-left: 1px solid black;
}