.imageHeaderButton {
	
}

#managerHeader {
	border-bottom: 1px solid #CCCCCC;
    padding: 10px;
}

#managerBody {
	background-color: white;
	min-height: 200px;
	max-height: 600px;
	overflow-y: auto;
}

.managerButton {
	border: 1px solid #CCCCCC;
    border-radius: 7px 7px 7px 7px;
    height: 55px;
    width: 115px;
    background-color: #EEEEEE;
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
}

.managerButton:hover {
	background-image: -moz-linear-gradient(center top , #EEEEEE, #CCCCCC);
    border: 1px solid #777777;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.smallManagerButton {
	border: 1px solid #CCCCCC;
    border-radius: 7px 7px 7px 7px;
    background-color: #EEEEEE;
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    padding: 2px 6px;
}

.smallManagerButton img {
	height: 20px;	
}

.smallManagerButton:hover {
	background-image: -moz-linear-gradient(center top , #EEEEEE, #CCCCCC);
    border: 1px solid #777777;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.managerButtonHover {
	background-image: -moz-linear-gradient(center top , #EEEEEE, #CCCCCC);
    border: 1px solid #777777;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.managerButtonContainer {
	display: inline-table;
    position: relative;
}

.smallManagerLabel {
	color: #292828;
    line-height: 30px;
    vertical-align: top;
    padding-left: 5px;
}

#addImages {
	font-size: x-large;
    height: 55px;
    left: -378px;
    position: relative;
    top: 0px;
    cursor: pointer;
    opacity: 0;
}

#addImagesHolder {
	height: 55px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 115px;
}

#imageMaster {
	display: none;
}

.imageClone {
	border-bottom: 1px solid #CCCCCC;
    padding: 10px;	
}

.preview-thumbnail {
	position: relative;
	display: block;	
}

.preview-thumbnail-container {
	width: 60px;
	height: 60px;
	border: 1px solid #CCC;
	padding: 5px;
}

.cell-container {
	padding-top: 25px;
}

.filename-container {
	width: 460px;	
}

.top-align {
	line-height: 35px;
	vertical-align: top;
	color: #292828;	
}

textarea.description {
	height: 64px;
    width: 340px;
    resize: vertical;
}

textarea.altText {
	height: 64px;
    width: 325px;
    resize: vertical;
}

.disabled-cell-container button.smallManagerButton img {
	opacity: 0.5;	
}

.disabled-cell-container span.smallManagerLabel {
	color: #777;
}

.disabled-cell-container button.smallManagerButton:hover {
	background-color: #EEEEEE;
	background-image: none;
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    padding: 2px 6px;
    box-shadow: none;
    cursor: default;
}

.row .cell {
	display: inline-table;
    vertical-align: top;
}

.filename {
	color: #292828;
    font-family: Lucida Grande;
    font-size: 17px;
    padding: 0 16px 16px 60px
}

.filename-container > div {
	overflow: hidden;
    text-overflow: ellipsis;
    width: 460px;
}

.loading {
	display: none;
	height: 45px;
}

.loading-holder {
	position: absolute;
	padding: 30px;
}