body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#top {
	background-color: darkred;
} 
        
#navbar {
	display: block;
	height: 30px;
	border-top: 2px solid black;
	margin: 0 auto;
	width: 100%;
	background-color: #292828;
}      
        
#menu {    
	list-style-type: none;
	padding: 0;
	margin: 0;
}
        
ul.dropDownMenu {
	list-style-type: none;
	position: absolute;
	top: 30;
	left: -40;
}
        
li.menuItem {      
	height: 30px;
	line-height: 30px;       
	float: left;
	position: relative;
	display: block;
	border-right: 1px solid #555555;
	color: #BBBBBB;
}

li.menuItem:hover {
	cursor: pointer;
	color: white;
}
    
li.menuItem a:hover {
	background-repeat: no-repeat;
	cursor: pointer;
	color: white;
}

li.menuItem a { 
	color: #BBBBBB;
	padding: 5px;
	text-decoration: none;
}
        
li.menuItem:hover .dropDownMenu li {
	display: block;
	width: 100px;
}

li.dropDownItem {
	margin-bottom: 10px;
	display: none;
}

 li.dropDownItem a {
	background-color: darkgoldenrod;
	border: 1px solid black;
}

            
li.dropDownItem a:hover {
	background-color: goldenrod;
	cursor: pointer;
}
        
img#banner {
	z-index: 8;
	float: right;
}

div#picture_buttons {
	margin: 0 auto 10px;
	position: relative;
	text-align: center;
	height: 75px;
	border-bottom: 1px solid #CCCCCC;
}

form#search {
	margin-bottom: 5px;
}       

.search_button {
	background-color: cornflowerblue;
	color: white;
	border: 1px solid #3079ED;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 50%;
	height: 22px;
	width: 35px;
}	

.search_button:hover {
	cursor: pointer;
	border: 1px solid #2F5BB7;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	filter: DXImageTransform.Microsoft.gradient(startColorstr='#6495ED', endColorstr='#2F5BB7'); /*For IE */
}
	
#search_val {
	border: 1px solid grey;
	padding: 3px;
	font-size: 12px;
}

.login_search {
	float: right;
	margin-right: 10px;
	margin-top: 25px;
}

#login {
	float: left;
}

td.login_title {
	width: 100px;
	color: black;
	font-size: 13;
}

input.login_text {
	border: 1px solid gray;
	font-size: 12px;
	padding: 3px;
}

input.submit_button {
	background-color: dimgray;
	border: 1px solid gray;
	color: white;
}

input.submit_button:hover {
	cursor: pointer;
}
        
ul#user_options {
	list-style-type: none;
	padding-left: 5px;
	margin-top: 2px;
}
        
li.logout {
	color: white;
	font-size: 15;
	display: inline;
}
    
li.logout a {
	text-decoration: none;
	color: midnightblue;
}
        
li.logout a:hover {
	color: grey;
	cursor: pointer;
}

li.logged_in_title_left {
	color: white;
	font-size: 15;
	display: inline;
	border-right: 1px solid white;
	padding-right: 5px;
}
    
li.logged_in_title_left a {
	text-decoration: none;
	color: midnightblue;
}
        
li.logged_in_title_left a:hover {
	color: grey;
}

#helpButton {
	height: 24px;
    padding: 3px;
    position: absolute;
    right: 0;
    width: 70px;
}

#helpButton span {
	font-size: 12px;
    vertical-align: super;
    color: white;
}

#helpButton img {
	height: 100%;
}

#helpButton:hover {
	cursor: pointer;
}