#title {
	background-color: CornFlowerBlue;
	border: 1px solid black;
	color: white;
	font-size: 27px;
	font-weight: bold;
	padding-bottom: 22px;
	padding-top: 17px;
	text-align: center;
	box-shadow: 1px 8px 6px -5px #666666;
}

.search-tabs ul {
	list-style-type: none;
	margin: 38px 0 0;
	padding: 0;
}

.activeTab {
	color: white !important;
	background-color: #292828 !important;	
}

.search-tabs ul li {
	background-color: #454444;
	border: 1px solid black;
	border-radius: 11px 11px 0 0;
	padding: 4px 10px 0;
	width: 170px;
	font-size: 15px;
	display: inline;
	cursor: pointer;
	color: #BBB;
}

.picturesContainer {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	background-color: white;
}

.collapse {
	height: 5px;
	width: 7px;
	display: inline-block;
	padding-bottom: 4px;
}

.genome_browser {
	border: none;
}


.collapse_holder {
	padding: 10px 10px 5px;
	cursor: pointer;
	color: #3366BB;
}

.results_title {
	border-bottom: 1px solid black;
	color: cornflowerblue;
}

#genome-search-content .contentHolder {
	min-height: 350px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}