#title {
	background-color: CornFlowerBlue;
	border: 1px solid black;
	color: white;
	font-size: 27px;
	font-weight: bold;
	padding-bottom: 22px;
	padding-top: 17px;
	text-align: center;
	box-shadow: 1px 8px 6px -5px #666666;
}

.search-tabs ul {
	list-style-type: none;
	margin: 38px 0 0;
	padding: 0;
}

.activeTab {
	color: white !important;
	background-color: #292828 !important;	
}

.search-tabs ul li {
	background-color: #454444;
	border: 1px solid black;
	border-radius: 11px 11px 0 0;
	padding: 4px 10px 0;
	width: 170px;
	font-size: 15px;
	display: inline;
	cursor: pointer;
	color: #BBB;
}

.picturesContainer {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	background-color: white;
}

.collapse {
	height: 5px;
	width: 7px;
	display: inline-block;
	padding-bottom: 4px;
}

.genome_browser {
	border: none;
}


.collapse_holder {
	padding: 10px;
	cursor: pointer;
	color: #292828;
	background-color: #DFDFDF;
}

.results_title {
	border-bottom: 1px solid black;
	color: cornflowerblue;
}

#genome-search-content .contentHolder {
	min-height: 350px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.results-container > div {
	display: none;
}

#image-search-container {
	border-top: 1px solid #CCC;	
}

#genome-search-container {
	border-top: 1px solid #CCC;	
}

.results {
	border: 1px solid #CCC;
	box-shadow: 0 2px 4px 0 #CCC;
	margin-left: 5px;
	margin-right: 5px;
}

.results-menu {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 400px;
	border-right: 1px solid #CCC;
}

.results-menu .tab {
	padding: 3px 10px;
	cursor: pointer;
}

#minimizeGenomeResults {
	width: 15px;
	float: right;
	display: block;
	padding-top: 5px;	
	cursor: pointer;
}

.results-container {
	display: inline-block;
	height: 396px;
	width: 738px;
}

td.table_cell {
	width: 172px !important;
}

.tabTitle {
	color: #333333;
    padding: 3px 10px;
    border-bottom: 1px solid #CCC;
    min-height: 20px;
}

.sorry {
	border: 1px solid #CCCCCC;
    color: #292828;
    font-size: 20px;
    height: 41px;
    line-height: 44px;
    margin: 105px auto 0;
    padding: 6px;
    text-align: right;
    width: 495px;
}

.sorry img {
	float: left;
    height: 40px;
}