.workbench-area {
	background-color: white;
	border-radius: 7px 7px 7px 7px;
	margin-bottom: 10px;
}

#work-area {
	height: 633px;
	width: 960px;
	padding-top: 65px;
	margin: 0 auto;
}

#center-work-area {
	width: calc(100% - 300px);
	display: inline-table;
	white-space: normal;
}

#left-toolbar {
	width: 290px;
	display: inline-table;
	white-space: normal;
}

.workbench-toolbar-container {
	height: 702px;
	overflow-y: auto;
	direction: rtl;
	padding-left: 7px;
	padding-top: 4px;
}

.workbench-toolbar-container div {
	direction: ltr;
}

.toolbar {
	padding: 3px;
}

.toolbar-header {
	min-height: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #CCC;
}

.toolbar-header:hover {
	cursor: pointer;
}

.toolbar-header > div {
	display: inline-block;
}

.collapse {
	padding: 3px 5px 3px 8px;
}

.toolbar-title {
	font-family: Lucida Grande;
	font-size: 14px;
}

.toolbar-title-header {
	margin-top: 12px;
    font-size: 20px;
    color: white;
    font-variant: small-caps;
}

.toolbar-options {
	color: #333333;
    font-family: Lucida Grande;
    font-size: 10px;
    float: right;
}

.toolbar-options > span {
	vertical-align: super;
}

.image-thumbnail-container {
	overflow-y: auto;
	min-height: 100px;
	max-height: 510px;
}

.my-pictures-image-holder {
	height: 100px;
	width: 100px;
	overflow: hidden;
	display: inline-block;
	padding: 5px;
	margin-left: 5px;
	background-color: #F5F5F5;
}

.my-pictures-image-holder:hover {
	background-color: #AAAAAA;
}

.my-tags-image-holder {
	height: 50px;
	width: 50px;
	overflow: hidden;
	display: inline-block;
	padding: 5px;
	background-color: #F5F5F5;
}

.scaled-image {
	position: relative;
	display: block;
}

.scaled-image:hover {
	cursor: pointer;
}

.edit-image-container {
	z-index: 1000;
	left: 0;
	position: absolute;
	padding: 15px;
	display: none;
}

.edit-image-button > img {
	height: 20px;
	margin-left: -5px;
	vertical-align: middle;
}

.top-right-float {
    position: relative;
    float: right;        
    z-index: 2;
}

.delete-image-button {
	position: absolute;
	right: 0;	
	display: none;
}

.delete-image-button:hover {
	cursor: pointer;	
}

.item {
	border-bottom: 1px solid #CCC;
	cursor: pointer;
}

.item:hover {
	background-color: #CCC;
}

.item td {
	vertical-align: top;
    padding: 2px;
}

.item-text {
	color: #222;
    font-family: Lucida Grande;
    font-size: 11px;
    padding-left: 3px;
}

.item-label {
	width: 44px;
}

.item-info {
	width: 95px;
}

.colorBox {
	height: 12px;
	width: 12px;
	border-radius: 2px;
}

#minMaxNav {
	background-color: white;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: block;
    float: right;
    margin-top: 6px;
    padding: 3px;
    position: relative;
}

#minMaxNav img {
	width: 20px;
}

#tag-group-info-master {
	display: none;
}

.tag-group-info-right {
	border: 1px solid #CCCCCC;
    display: inline-block;
    float: right;
    height: 430px;
    margin-right: 15px;
    padding: 15px;
    width: 485px;
}

.tag-group-info-right table {
	width: 100%;	
}

.tag-group-info-right table tbody tr td {
	padding: 20px 5px;
	font-size: 17px;
}

.tag-group-info-left {
	display: inline-block;
	width: 395px;
	padding: 0 15px 15px;
	padding-right: 10px;
}

.tag-group-info-clone {
	font-size: 15px;
	font-family: Lucida Grande;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	height: 475px;
    padding-bottom: 70px;
    padding-top: 15px;
}

.tag-group-info-title {
	border-bottom: 1px solid #CCCCCC;
    font-size: 24px;
    text-align: center;
}

.tag-group-info-image-container {
	width: 350px;
	height: 350px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #CCC;
}

.tag-group-info-image {
	display: block;
    position: relative;
}

.tag-group-info-published img {
	height: 25px;
}

.tag-group-info-published span {
	padding-left: 5px;
    vertical-align: bottom;
}

.tag-group-info-buttons {
	float: right;
    margin-right: 30px;
    margin-top: -60px;
}

.tag-group-info-buttons button {
	padding: 5px;
	width: 70px;
	height: 40px;
	margin-left: 5px;
}

.tag-group-info-buttons button:hover {
	cursor: pointer;
}

.tag-group-info-tags {
	border: 1px solid #CCCCCC;
    height: 150px;
    margin: 10px auto 0;
    width: 370px;
}

.tag-group-info-empty {
	margin-top: 60px;
    text-align: center;
    font-size: 15px;
}

.edit-button {
	padding: 2px;
}

.edit-button:hover {
	background-color: #EEEEEE;
	cursor: pointer;
}