.selectView {
	border: 1px solid #BBBBBB;
    padding: 5px;
    cursor: pointer;
}

.selectMenu {
	border-bottom: 1px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
    cursor: pointer;
    position: absolute;
    background-color: white;
    z-index: 1000;
}

.selectOption {
	padding: 5px;
}

.selectOption:hover {
	background-color: #DFDFDF;
}

.selectIcon {
	display: block;
    float: right;
    padding: 7px;
}