<div class="workbench-toolbar-container">
	<div class="workbench-area toolbar">
		<div class="toolbar-header">
			<div><img class="collapse" src="<%= settings.STATIC_URL %>images/arrow_down.png"></div>
			<div><span class="toolbar-title"><%= title %></span></div>
			<div class="toolbar-options">
				<span>Public</span><input name="public-pictures" type="checkbox" checked="checked">
				<span>Private</span><input name="private-pictures" type="checkbox" checked="checked">
			</div>
		</div>
		<div class="toolbar-body" style="display: block;"></div>
    </div>
</div>
