<div class="center-block">
    <div>
        <h2>Edit a Tag</h2>
    </div>
    <div>
        <div class="form-group">
            <% if (typeof id !== "undefined") { %>
            <input type="hidden" name="id" value="<%= id %>" />
            <% } %>
            <input type="hidden" name="points" value="<%= escape(JSON.stringify(points)) %>" />
            <input type="hidden" name="color" value="<%= escape(JSON.stringify(color)) %>" />
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" value="<%= typeof name !=="undefined" ? name : "" %>"
                placeholder="Tag name. i.e. &quot;Motility organelle&quot;" />
            <% if (typeof tagGroups !== "undefined") { %>
            <label for="group">Tag Group</label>
            <select name="group" class="select-tag-group form-control">
                <% _.each(tagGroups, function(tagGroup, id) { %>
                    <option data-tag-group="<%= escape(JSON.stringify(tagGroup)) %>"
                        <% if (typeof group !== "undefined" && tagGroup.id == group) { %>
                            selected="selected"
                        <% } %>
                    >
                        <%= tagGroup.name %>
                    </option>
                <% }); %>
            </select>
            <%
               }
               else if (typeof group !== "undefined") {
            %>
                <input type="hidden" name="group" value="<%= escape(JSON.stringify(group)) %>" />
            <% } %>
        </div>
    </div>
</div>
