<head>
    <style>    
        {% for pendingImg in pendingImages %}
        .image{{pendingImg.pk}} {
            width: {{ pendingImg.image.width }}; 
            height: {{ pendingImg.image.height }};
            background-color: lightgrey;
        }
        {% endfor %}
    </style>
</head>
<body>
    <ul id="slider" class="anythingBase">
        {% for pendingImg in pendingImages %}
        <li class="panel">
            <div class="image{{pendingImg.pk}}">                    
                <div class="ui-state-default ui-corner-all top-right-float" title=".ui-icon-close">                        
                    <span class="ui-icon ui-icon-trash"></span> 
                </div>
                <img class="slider_image" src="{{ MEDIA_URL }}{{pendingImg.image}}"></img>
            </div>  
        </li>
        {% endfor %}
    </ul>
</body>
<script type="text/javascript">
    function fixSliderDisplay() {
        $('.slider_image').each(function() {
            if ($(this).height() > $(this).width()) {
                $(this).height($(this).parent().height() - 2);
                if ($(this).width() < $(this).parent().width()) {
                    $(this).css("margin-left", (($(this).parent().width() - $(this).width()) / 2) + "px");
                    $(this).css("margin-right", (($(this).parent().width() - $(this).width()) / 2) + "px");
                }
                else if ($(this).width() > $(this).parent().width()) {
                    $(this).css("height", "auto");                    
                    $(this).width($(this).parent().width() - 2);
                    $(this).css("margin-top", (($(this).parent().height() - $(this).height()) / 2) + "px");
                    $(this).css("margin-bottom", (($(this).parent().height() - $(this).height()) / 2) + "px");
                }
            }
            else {
                $(this).width($(this).parent().width() - 2);
                if ($(this).height() < $(this).parent().height()) {
                    $(this).css("margin-top", (($(this).parent().height() - $(this).height()) / 2) + "px");
                    $(this).css("margin-bottom", (($(this).parent().height() - $(this).height()) / 2) + "px");
                }
                else if ($(this).height() > $(this).parent().height()) {
                    $(this).css("width", "auto");                    
                    $(this).width($(this).parent().height() - 2);
                    $(this).css("margin-left", (($(this).parent().width() - $(this).width()) / 2) + "px");
                    $(this).css("margin-right", (($(this).parent().width() - $(this).width()) / 2) + "px");
                }
            }
            
        });
    }
    $(window).load( function() {
        fixSliderDisplay();
    });
</script>




