<head>
    <title>Image Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/uploader.css"></link>
</head>
<body>
    <div id="uploader">
        <div id="header" class="uploader-title">Image Uploader</div>
    </div>
</body>
<script type="text/javascript">
    var require = {
        baseUrl: '{{ STATIC_URL }}js/'
    };
</script>
<script type="text/javascript" data-main="{{ STATIC_URL }}js/biodig/pages/imageupload.js" src="{{ STATIC_URL }}js/lib/require.js"></script>
