<head>
    <!-- <link rel="shortcut icon" href="{{ MEDIA_URL }}" /> -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/adminNavBar.css" />
    <style>
    	.search_button {
			background-image: url({{ STATIC_URL }}images/search.png);
		}

		.search_button:hover {
			background-image: url({{STATIC_URL}}images/search.png),  -webkit-gradient(linear, left top, left bottom, from(#6495ED), to(#2F5BB7));
			background-image: url({{STATIC_URL}}images/search.png), -moz-linear-gradient(top, #6495ED, #2F5BB7); /* for firefox 3.6+ */
		}
    </style>
	<script type="text/javascript">
        function logout(e) {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "{{ SITE_URL }}logout_handler/");
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</head>
<body>
	<div id="banner">
	    <ul>
			<li class="banner_item">
			    <img src="{{ STATIC_URL }}images/mycoplasma_banner.png" width="266px" alt="Banner" />
			</li>
			{% if user.is_staff %}
	    	<li class="admin_button_item">
			    <div><a href="{{ SITE_URL }}admin/dashboard">Dashboard</a></div>
			</li>
			{% endif %}
			<li class="admin_button_item">
			    <div><a href="{{ SITE_URL }}registered/workbench">Workbench</a></div>
			</li>
			<li class="admin_button_item">
			    <div><a href="{{ SITE_URL }}registered/upload">Upload Images</a></div>
			</li>
            <!--
			<li class="admin_button_item">
			    <div><a href="{{ SITE_URL }}administration/gbrowseManager/">Genome Manager</a></div>
			</li>
			<li class="admin_button_item">
			    <div><a href="{{ SITE_URL }}administration/usersProfile/">User Profile</a></div>
			</li>
            -->
	    </ul>
    </div>
    <div id="navbar">
        <ul id="menu">
            <li class="menuItem">
				<a href="{{ SITE_URL }}index.html">
					<span>Home</span>
				</a>
			</li>
			<li class="menuItem">
				<a href="{{ SITE_URL }}genome_browser">
					<span>GBrowse</span>
				</a>
			</li>
			<li class="menuItem">
				<a href="{{ SITE_URL }}images">
					<span>Images</span>
				</a>
			</li>
        </ul>
    </div>
    <div id="picture_buttons">
        <div class="login_search" id="login">
            {% if user.is_authenticated %}
                <div>
					<ul id="user_options">
						<li class="logged_in_title_left"><a href="{{ SITE_URL }}registered/workbench">Workbench</a></li>
						<li class="logout"><a onclick="logout(event)">Log out</a></li>
					</ul>
				</div>
            {% endif %}
        </div>
        <div class="login_search">
            <form id="search"  method="get" action="{{ SITE_URL }}search/">
	        	<input type="text" name="query" id="query" />
				<input type="hidden" name="searchImages" value="true" />
				<input type="hidden" name="searchGenomes" value="false" />
				<input type="submit" class="search_button" value="" />
	        </form>
	        <div>
	        	<a href="{{ SITE_URL }}advancedSearch/">Advanced Search</a>
	        </div>
        </div>
    </div>
</body>
