{% load template_tags %}
<html>
	<head>
		<title>BioDIG {{ title }}</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" type="text/css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/search.css" type="text/css" />
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui/1.8.21/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui/1.8.21/jquery-ui.css" type="text/css"/>
		<script type="text/javascript" src="{{ STATIC_URL }}js/util/Util.js"></script>
	</head>
	<body>
		<div id="body_holder">
			<div id="body_div">
				<div>	
					<renderslot name="navBar" />
				</div>
				{% for pagelet in numPagelets|numRange %}
				<div>
					<renderslot name="center-{{ pagelet }}" />
				</div>
				<br />
				{% endfor %}
			</div>
		</div>
	</body>
</html>
