.searchSection {
    padding: 10px;
}

.topBorder {
    border-top: 1px solid #CCC;    
}

.searchSection td {
    padding: 3px 5px;
    width: 140px;
}

.searchSectionTitle {
    color: #222222;
    font-family: Lucida Grande;
    font-size: 18px;
    padding-bottom: 10px;
}

.searchLabel {
    color: #292828;
    font-family: Lucida Grande;
    font-size: 15px;
}

.searchMenu {
    width: 205px;
}

.searchBox {
    border: 1px solid #BBBBBB;
    font-family: Lucida Grande;
    font-size: 15px;
    height: 30px;
    width: 440px;
    padding: 1px 5px;
}

.searchBox:focus {
    box-shadow: 0 0 2px 0 #DDDDDD inset;
    -moz-box-shadow: 0 0 2px 0 #DDDDDD inset;
    -webkit-box-shadow: 0 0 2px 0 #DDDDDD inset;
}

button#advancedSearch {
    background-image: none;
    height: auto;
    padding: 5px;
    width: auto;
}