      
img.imageDisplay {
	border: 1px solid black;
}

img.imageDisplay:hover {
	border: 1px solid blue;
}

div.description {
	text-align: center;
	color: white;
}

td.table_cell {
	vertical-align: top;
	width: 180px;
	border: 1px solid black;
	background: #e0e0e0; /* Old browsers */
	background: -moz-linear-gradient(top, #e0e0e0 1%, #444444 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e0e0e0), color-stop(100%,#444444)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e0e0e0 1%,#444444 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e0e0e0 1%,#444444 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e0e0e0 1%,#444444 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e0e0e0 1%,#444444 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
}

.image-pagination {
	border-top: 1px solid #CCC;
	padding-top: 5px;
	height: 25px;
}

.image-pagination div {
	color: #666;
	padding-left: 20px;
}

.image-pagination .last {
	letter-spacing: -4px;
	margin-right: 25px;
}

.image-pagination .first {
	letter-spacing: -4px;
}

.image-pagination .numbers_holder input {
	width: 25px;
	text-align: center;
	border: 1px solid #CCC;
}

.pagination-control {
	float: right;	
}

.pagination-control:hover {
	color: #3366BB;
	cursor: pointer;
}