.zoomable-src {
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
}

.zoomable-parent {
	padding: 10px;
}

.zoomable-container {
	overflow: hidden;
	width: 560px;
	height: 500px;
	background-repeat: no-repeat;
	background-size: auto auto;
	position: relative;
	background: url("images/dark-area.png") repeat-x scroll left top #3C3C3C;
}

.zoomable-slider-container {
	right: 0;
	position: absolute;
	z-index: 1000;
	padding: 15px;
}

.zoomable-slider {
	height: 150px !important;
	width: 10px !important;
	border: 1px solid #333333 !important;
	box-shadow: 0 0 8px 1px #333333 !important;
	margin: 0 auto;
}

.zoomable-slider .ui-slider-handle {
	height: 15px !important;
	border: 1px solid #333333 !important;
	box-shadow: 0 0 8px 1px #333333 !important;
}

.zoomable-plus {
	padding-bottom: 10px;
}

.zoomable-minus {
	padding-top: 15px;
}

.zoomable-controls button {
	border: 1px solid #333333;
	width: 25px;
}

.zoomable-controls button:hover {
	cursor: pointer;
	background-color: #CCCCCC;
}
