<head>
    <title>Image Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/imageManager.css"></link>
</head>
<body>
    <div id="header">Image Uploader</div>
    <div id="holder">
    	<div id="managerHeader">
    		<div class="managerButtonContainer">
    			<button id="addImagesOverlay" class="managerButton">Add Images</button>
    			<div id="addImagesHolder"><input id="addImages" type="file"></input></div>
    		</div>
    		<div class="managerButtonContainer">
    			<button id="startUploads" class="managerButton">Start Uploads</button>
    		</div>
    		<div class="managerButtonContainer">
    			<button id="clearUploads" class="managerButton">Clear Uploads</button>
    		</div>
    	</div>
    	<div id="managerBody">
    		<div id="imageMaster">
    			<div class="row">
	    			<div class="preview-thumbnail-container cell">
	    				<img class="preview-thumbnail" src=""></img>
	    			</div>
	    			<div class="cell filename-container cell-container">
	    				<div>
	    					<span class="filename"></span>
	    				</div>
	    			</div>
	    			<div class="cell cell-container" style="margin-left: 95px; margin-right: 20px;">
	    				<button class="smallManagerButton upload">
	    					<img src="{{ STATIC_URL }}images/upload.png"></img>
	    				</button>
	    				<span class="smallManagerLabel">Upload</span>
	    			</div>
	    			<div class="cell cell-container disabled-cell-container">
	    				<button class="smallManagerButton delete" disabled>
	    					<img src="{{ STATIC_URL }}images/trash.png"></img>
	    				</button>
	    				<span class="smallManagerLabel">Delete</span>
	    			</div>
	    		</div>
	    		<div class="row" style="margin-top: 10px;">
	    			<div class="loading-holder">
	    				<img class="loading" src="{{ STATIC_URL }}images/loading.gif"></img>
	    			</div>
				    <div class="cell" style="margin-left: 135px;">
				        <div class="top-align">Description</div>
				        <textarea class="description"></textarea>
				    </div>
				    <div class="cell" style="margin-left: 65px;">
				        <div class="top-align">Alternate Text</div>
				        <textarea class="altText"></textarea>
				    </div>
				</div>
				<div class="uploadForm" style="display: none;"></div>
    		</div>
    	</div>
    </div>
    <script type="text/javascript">
	    function uploadFile(form, url, success, error) {
	        // Create the iframe...
	        var iframe = document.createElement("iframe");
	        iframe.setAttribute("id", "upload_iframe");
	        iframe.setAttribute("name", "upload_iframe");
	        iframe.setAttribute("width", "0");
	        iframe.setAttribute("height", "0");
	        iframe.setAttribute("border", "0");
	        iframe.setAttribute("style", "width: 0; height: 0; border: none;");
	     
	        // Add to document...
	        $(iframe).appendTo($('body'));
	        window.frames['upload_iframe'].name = "upload_iframe";
	     
	        iframeId = document.getElementById("upload_iframe");
	     
	        // Add event...
	        var eventHandler = function () {
                if (iframeId.detachEvent) {
	            	iframeId.detachEvent("onload", eventHandler);
                }
	            else {
		            iframeId.removeEventListener("load", eventHandler, false);
	            }
     
                // Message from server...
                if (iframeId.contentDocument) {
                    content = iframeId.contentDocument.body.innerHTML;
                } 
                else if (iframeId.contentWindow) {
                    content = iframeId.contentWindow.document.body.innerHTML;
                } 
                else if (iframeId.document) {
                    content = iframeId.document.body.innerHTML;
                }

                content = JSON.parse(content);
				if (content.hasOwnProperty('status')) {
					error(content);
				}
				else {
					success(content);
				}				
     
                // Del the iframe...
                setTimeout('iframeId.parentNode.removeChild(iframeId)', 250);
            }
	     
	        if (iframeId.addEventListener) {
		        iframeId.addEventListener("load", eventHandler, true);
	        }
	        
	        if (iframeId.attachEvent) {
		        iframeId.attachEvent("onload", eventHandler);
	        }
	     	
	        // Set properties of form...
	        form.setAttribute("target", "upload_iframe");
	        form.setAttribute("action", url);
	        form.setAttribute("method", "post");
	        form.setAttribute("enctype", "multipart/form-data");
	        form.setAttribute("encoding", "multipart/form-data");
	     
	        // Submit the form...
	        form.submit();
	    }
    
    	$(document).on({
			mouseenter: function() {
				$('#addImagesOverlay').addClass('managerButtonHover');
			},
			mouseleave: function() {
				$('#addImagesOverlay').removeClass('managerButtonHover');
			}
    	}, '#addImages');

    	$(document).on('change', '#addImages', function() {
    		if ($(this)[0].files) {
        		var managerBody = $('#managerBody');
        		var imageMaster = $('#imageMaster');
				var file = $(this)[0].files[0];
				var filename = file.name;
				var isImage = false;
				var fileInputClone = $(this).clone();

				if (file.type.indexOf('image') !== -1) {
					isImage = true;
				}
				else {
					switch(filename.substring(filename.lastIndexOf('.') + 1).toLowerCase()){
				        case 'gif': case 'jpg': case 'png': case 'tiff': case 'jpeg': case 'bmp':
				            isImage = true;
				            break;
				        default:
				            isImage = false;
				            break;
				    }
				}
				
				if (isImage) {
	    	        var reader = new FileReader();
					var clone = imageMaster.clone().attr('id', '').addClass('imageClone');
					
	    	        reader.onload = function(e) {
	    	        	var $img = clone.find('.preview-thumbnail').width(60);
	    	            var $parent = $img.parent();
	    	            var containerWidth = $parent.width();
	    				var containerHeight = $parent.height();
						$img.attr('src', e.target.result);
						
						$img.load(function() {
							var $img = $(this);
		    				var imgRatio = $img.width()/$img.height();
		    				var containerRatio = containerWidth/containerHeight;
		    				if (imgRatio > containerRatio) {
		    					$img.css('width', containerWidth);
		    					var topVal = (containerHeight - $img.height())/2;
		    					$img.css('top', topVal);
		    				}
		    				else if (imgRatio <= containerRatio) {
		    					$img.css('height', containerHeight);
		    					var leftVal = (containerWidth - $img.width())/2;
		    					$img.css('left', leftVal);
		    				}
						});
	    	        };

					var filenameEl = clone.find('.filename').text(filename);
					var form = $('<form />').appendTo(clone.find('.uploadForm').empty());
					fileInputClone.insertAfter($(this));
					form.append($(this).attr('id', '').attr('name', 'image'));
					
					clone.find('.upload').on('click', function() {
						var uploadButton = $(this);
						var deleteButton = clone.find('.delete');
						var description = clone.find('textarea.description').val();
						var altText = clone.find('textarea.altText').val();
						if (altText) {
							form.append($('<input />').attr('type', 'text').attr('name', 'description').val(description));
						}
						if (description) {
							form.append($('<input />').attr('type', 'text').attr('name', 'altText').val(altText));
						}

						var loading = clone.find('.loading').show();
						
						uploadFile(form[0], "{{ SITE_URL }}api/images", 
							function(data) {
								loading.hide();
								uploadButton.attr('disabled', true).parent().addClass('disabled-cell-container');
								deleteButton.attr('disabled', false).parent().removeClass('disabled-cell-container');
								var newName = data.url.split("/");
								newName = newName[newName.length - 1] + " (" + filenameEl.text() + ")";
								filenameEl.attr('title', newName);
								filenameEl.text(newName);
							},
							function(error) {
								alert(error.message);
							}
						);
					});
					
					managerBody.append(clone);
					
	    	        reader.readAsDataURL(file);
				}
			}
    		$('#addImagesOverlay').removeClass('managerButtonHover');
    	});
    </script>
</body>