<head>
    <title>Image Manager</title>
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/imageManager.css"></link>
</head>
<body>
    <div id="header">Image Uploader</div>
    <div id="holder">
        {% load multiuploader %}
        {% multiupform %}
    </div>
</body>

<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script src="{{ MEDIA_URL }}multiuploader/scripts/jquery.iframe-transport.js"></script>
<script src="{{ MEDIA_URL }}multiuploader/scripts/jquery.fileupload.js"></script>
<script src="{{ MEDIA_URL }}multiuploader/scripts/jquery.fileupload-ui.js"></script>
<script src="{{ MEDIA_URL }}multiuploader/scripts/application.js"></script>