<div class="modal fade" id="<%= name %>" tabindex="-1" role="dialog"
    aria-labelledby="<%= name %>-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Loading...</h4>
            </div>
            <div class="modal-body">
                <div class="center-block text-center">
                    <img width="200" src="<%= settings.STATIC_URL %>images/loading.gif"></img>
                </div>
            </div>
        </div>
    </div>
</div>
